.footer-container {
    background-color: #69ABA9;
    color: #03615B;
    padding-top: 10px;
    font-family: 'Poppins-Bold';

    .logo-container img {
        max-width: 60%;
        max-height: 60%;
        padding-bottom: 10px;
    }
    .footer-section{
    }
}